@{
    //load file LayoutTrangChu.cshtml
    Layout = "~/Views/Shared/LayoutTrangTrong.cshtml";
}
@* de phan trang thi using cac doi tuong sau *@
@* dong 3 de su dung ham IPagedList *@
@using X.PagedList
@using X.PagedList.Mvc.Core

@using BTCK_PhanTienDo.Models
@* su dung cho ham FromSqlRaw *@
@using Microsoft.EntityFrameworkCore
@* su dung cho ham Raw -> chuyen ky tu html dac biet *@
@using Microsoft.AspNetCore.Mvc.Rendering
@functions{
    public MyDbContext db = new MyDbContext();

}

    <div class="wrap-collection-title row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <h1 class="title" style=" margin-bottom: 10px; text-decoration: 1px #ccc underline;">
                Tìm kiếm sản phẩm
            </h1>
            <div class="alert-no-filter"></div>
        </div>
        @*<div class="col-md-4 d-sm-none d-md-block d-none d-sm-block" style="float: left;">
                <div class="option browse-tags">
                    <span class="custom-dropdown custom-dropdown--grey">
                        <select class="sort-by custom-dropdown__select" onchange="location.href = '/Products/Category/@ViewContext.RouteData.Values["id"]?order='+this.value;">
                            <option value="0">Sắp xếp</option>
                            <option value="priceAsc">Giá tăng dần</option>
                            <option value="priceDesc">Giá giảm dần</option>
                            <option value="nameAsc">Sắp xếp A-Z</option>
                            <option value="nameDesc">Sắp xếp Z-A</option>
                        </select>
                    </span>
                </div>
            </div>*@
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-6 col-xs-6 col-6">
                <div class="product-block">
                    <div class="product-img fade-box" style="padding: 12px; border: solid thin; text-align: center; position: relative; overflow: hidden;">
                        <a href="/Products/Detail/@item.ID" title="@item.Name" class="img-resize">
                            <img src="~/Upload/Products/@item.Photo" alt="@item.Name" class="lazyloaded">
                            <img src="~/Upload/Products/@item.Photo" alt="@item.Name" class="lazyloaded">
                        </a>
                        @*<img src="~/Upload/Products/@item.Photo" alt="@item.Name" class="lazyloaded">*@
                    </div>
                    <div class="product-detail clearfix">
                        <div class="pro-text">
                            <a style=" color: black;font-size: 14px;text-decoration: none;" href="#" title="@item.Name" inspiration pack>
                                @item.Name
                            </a>
                        </div>
                        <div class="pro-price">
                            <p class="" style="text-decoration:line-through;"> @string.Format("{0:#,#.}", item.Price) ₫</p>
                            <p class=""> @string.Format("{0:#,#.}", item.Price - (item.Price * item.Discount) / 100) ₫ </p>
                            <p class="" style="display: flex; justify-content: center; ">
                                <a href="/Products/Star/@item.ID?star=1"><img src="~/Frontend/images/star.jpg"></a>
                                <a href="/Products/Star/@item.ID?star=2"><img src="~/Frontend/images/star.jpg"></a>
                                <a href="/Products/Star/@item.ID?star=3"><img src="~/Frontend/images/star.jpg"></a>
                                <a href="/Products/Star/@item.ID?star=4"><img src="~/Frontend/images/star.jpg"></a>
                                <a href="/Products/Star/@item.ID?star=5"><img src="~/Frontend/images/star.jpg"></a>
                            </p>
                        </div>
                        <div class="action-btn">
                            <form>
                                <a href="/Cart/Buy/@item.ID" class="btn" style=" margin: auto; border: solid thin; width: 100px; border-radius: 10px; background: darkturquoise; font-weight: bold; text-decoration: none;">Add to Cart</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <style type="text/css">
        .pagination {
            padding: 0px;
            margin: 0px;
        }
    </style>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("SearchPrice", new { page = page }))
