<!--<!DOCTYPE html>
<html>
<head>
    <title>ForgotPassword</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="~/Admin/css/bootstrap.min.css">
    <link href="~/Admin/assest/login.css" rel="stylesheet" />
</head>
<body>
    <div class="main">

        <form action="ForgotPassword" method="post" class="form" id="form-1">
            <h3 class="heading">Quên mật khẩu</h3>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="spacer"></div>
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input id="email" name="email" type="text" placeholder="VD: email@domain.com" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label for="password" class="form-label">Mật khẩu</label>
                <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control">
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label for="password_confirmation" class="form-label">Nhập lại mật khẩu</label>
                <input id="password_confirmation" name="password_confirmation" placeholder="Nhập lại mật khẩu" type="password" class="form-control">
                <span class="form-message"></span>
            </div>
            <button class="form-submit">Lưu</button>
        </form>

    </div>

    <script src="~/Admin/assest/validate.js"></script>
    <script>
        Validator({
            form: '#form-1',
            rules: [

                Validator.isRequired('#email'),
                Validator.isEmail('#email', 'vui lòng nhập đúng email'),
                Validator.minLength('#password', 3, `vui lòng nhập nhiều hơn ${3} kí tự`),
                Validator.isConfirmed('#password_confirmation', function () {
                    return document.querySelector('#form-1 #password').value;
                }, 'vui lòng nhập đúng mật khẩu'),
            ]

        })
    </script>-->
@*<script>
       function ktra () {
            if (@ViewBag.error == 1) {
                var errorMessage = "Sai Mật khẩu";
                $('#failure').text(errorMessage);
            }
             if (@ViewBag.error== 2) {
                var errorMessage = "Sai Email";
                 $('#failure').text(errorMessage);
            }
        }
    </script>*@
<!--</body>

</html>-->

@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div class="form-group">
            Please enter your registered email address below to receive an email containing a link, to reset your password.
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Email Address</label>
            @Html.TextBox("EmailID", "", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
}